# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
*.RData
*.RDataBak
*.rdb
*.rdx

# Profiled output
# Rprof.out

# Regular output
# *.out

# LaTeX aux typsetting files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.log
*.synctex.gz
*.fls

cat_eg_sand_data.txt
core-covariates.csv
.Rproj.user
checklists.csv
extended-covariates.csv

*.rdb

*.rdx

*.rdx

*.rdb
*Rplots.pdf

markdown/knot-select/sim-tables/*.*
markdown/knot-select/sim-results/*.*
markdown/sim-hmc-2/sim-tables/*.*
markdown/sim-hmc-2/sim-tables-bak/*.*
markdown/sim-hmc/sim-tables/*.txt
markdown/sim-hmc/sim-results/*.*
code/analysis/birds/birds/2002/checklists.csv
