!griddedUS.RData
!cattle_egret.RData
!common_nighthawk.RData
!western_bluebird.RData
!vesper_sparrow.RData
!longbilled_curlew.RData
!common_grounddove.RData
!mountain_bluebird.RData
!greater_white_goose.RData
!bluewinged_teal.RData
!whiteeyed_vireo.RData
!sharpshinned_hawk.RData
!lesser_goldfinch.RData